<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuzhou.mapper.basehjl.DataServerTypeMapper">

     
    <delete id="deleteDataServerBatch" parameterType="int">
        delete from DataServerType where dstId in(
        <foreach collection="array" item="dstId" separator=",">
            #{dstId}	
        </foreach>
        )
    </delete>
    
    <!-- rept -->
    <resultMap type="DataServerType" id="DataServerTypeResultMap">
        <id column="dstId" property="dstId"/>
        <result column="dstName" property="dstName"/>
        <association property="ClientServer" javaType="ClientServer">
            <result column="serverTypeId" property="serverTypeId"/>
            <result column="serverCreateDate" property="serverCreateDate"/>
        </association>
    </resultMap>
    
    <select id="selectDataServerTypeAndClientServerAll" resultMap="DataServerTypeResultMap">
        select c.serverCreateDate,
               d.dstName
        from DataServerType d left join ClientServer c
        on d.dstId=c.serverTypeId
    </select>
  
</mapper>